################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AzureStorageDrive/obj
/src/AzureStorageDrive/bin/Debug
/src/AzureStorageDriveTest/bin/Debug
/src/AzureStorageDriveTest/obj
/src/packages/WindowsAzure.Storage.4.1.0
/src/packages/Microsoft.Data.Edm.5.6.0
/src/packages/Microsoft.Data.OData.5.6.0
/src/packages/Microsoft.Data.Services.Client.5.6.0
/src/packages/Microsoft.WindowsAzure.ConfigurationManager.1.8.0.0
/src/packages/Newtonsoft.Json.5.0.6
/src/packages/System.Spatial.5.6.0
/src/AzureStorageDrive.v12.suo
/src/AzureStorageDrive/AzureStorageDrive.csproj.user
/src/AzureStorageDrive/start.test.cmd
/src/packages/AWSSDK.2.1.7.0
